@font-face {
    font-family: helveticaneue;
    src: url("HelveticaNeueLTStd Lt.otf");
}

@font-face {
    font-family: lane;
    src: url("LANENAR_.ttf");
}

@font-face {
    font-family: ahellya;
    src: url("ahellya.ttf");
}

@font-face {
    font-family: ahellyaitalic;
    src: url("ahellya italic.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div.header {
    bottom: 0;
    position: fixed;	
    font-family: helveticaneue;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 42px;
    width: 100%;
    background-color: rgba(102,102,102,1);
    display:table;
    vertical-align: middle;
    font-size: 16px;
}

div.headercenter {   
    vertical-align: middle;
    display: table-cell
}

div.content {
    font-family: helveticaneue;
    font-size: 30px;
    width: 100%;
    text-align: center;
    display: table;
}

div.board {
    vertical-align: middle;
    display: table-cell;
}
